body {
    padding-top: 5rem;
}
.starter-template {
    padding: 1.5rem 1rem;
    text-align: center;
}
.tablesorter-pager .btn-group-sm .btn {
    font-size: 1.2em;
}
#dummy-user-details-container{
    height: 5rem
}
